.App {
    display: flex;
    justify-content: space-around;
}

.error {
    border: red 1px solid;
}

.error-message {
    color: red;
}

.active-filter {
    background-color: aquamarine;
}

.isDone {
    opacity: 0.5;
}

.todoListTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}